body {
    background: black;
    color: white;
    text-align: center;
}

.title {
    color: cyan;
    text-shadow: 0 0 20px cyan;
}

#calendar {
    margin: 20px;
    padding: 10px;
    background: #111;
    border-radius: 15px;
    box-shadow: 0 0 20px magenta;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 25px cyan;
    width: 300px;
    z-index: 9999;
}

.popup.show {
    display: block;
}

input, textarea, select {
    width: 100%;
    margin: 5px;
    padding: 10px;
    background: black;
    color: white;
    border: 1px solid cyan;
}

button {
    background: cyan;
    padding: 10px;
    border: none;
}